Package: com.miwix.batterytap
Name: BatteryTap
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lavie Gariv
Author: Lavie Gariv
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
