Package: com.miwix.batterytap
Name: BatteryTap
Version: 1.0.0
Architecture: iphoneos-arm
Description: Tap the battery widget to toggle low battery mode.
Maintainer: Lavie Gariv
Author: Lavie Gariv
Section: Tweaks
Depends: mobilesubstrate, firmware (>=14.0)
